https://leetcode.com/problems/pascals-triangle/

In [56]:
numRows = 5
lst = [[0] * i for i in range(1, numRows+1)]
lst[0][0] = 1
lst

[[1], [0, 0], [0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [54]:
[[0] for _ in range(numRows)]

[[0], [0], [0], [0], [0]]

사실 처음에 lst변수를 그냥 [ [0] for _ in range(numRows) ]로 해놨다. 그런데 그렇게 하려니 for문을 돌릴 때 append함수로 값을 붙여야 했다. 나는 index로 접근해서 각각의 index에 0 값을 다른 값으로 교체하고 싶었는데. 그래서 위와 같이 lst변수의 for문을 바꿨다.

In [4]:
len(lst)

5

In [47]:
print(range(1))

range(0, 1)

In [57]:
# 2중 for문으로 하면 뭐가 어떻게 돌아가는지 궁금하고 헷갈려서 일일히 print로 찍었다.
for i in range(1, len(lst)):
  print(f'i is now {i}\n')
  for j in range(i+1):
    print(f'i is now {i} and j is now {j}')
    if j == 0:
      lst[i][j] = 1
    elif j == i:
      lst[i][j] = 1
    elif j != 0:
      lst[i][j] = lst[i-1][j-1] + lst[i-1][j]
    print(f'lst is now {lst}')
    print('\n--------------------------------------\n')

i is now 1

i is now 1 and j is now 0
lst is now [[1], [1, 0], [0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0, 0]]

--------------------------------------

i is now 1 and j is now 1
lst is now [[1], [1, 1], [0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0, 0]]

--------------------------------------

i is now 2

i is now 2 and j is now 0
lst is now [[1], [1, 1], [1, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0, 0]]

--------------------------------------

i is now 2 and j is now 1
lst is now [[1], [1, 1], [1, 2, 0], [0, 0, 0, 0], [0, 0, 0, 0, 0]]

--------------------------------------

i is now 2 and j is now 2
lst is now [[1], [1, 1], [1, 2, 1], [0, 0, 0, 0], [0, 0, 0, 0, 0]]

--------------------------------------

i is now 3

i is now 3 and j is now 0
lst is now [[1], [1, 1], [1, 2, 1], [1, 0, 0, 0], [0, 0, 0, 0, 0]]

--------------------------------------

i is now 3 and j is now 1
lst is now [[1], [1, 1], [1, 2, 1], [1, 3, 0, 0], [0, 0, 0, 0, 0]]

--------------------------------------

i is now 3 and j is now 2
lst is now [[1], [1, 1], [1, 2, 1], [1, 3, 3, 0], [0, 0, 0, 0, 0]]

--------------------------------------

i is now 3 and j is now 3
lst is now [[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [0, 0, 0, 0, 0]]

--------------------------------------

i is now 4

i is now 4 and j is now 0
lst is now [[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 0, 0, 0, 0]]

--------------------------------------

i is now 4 and j is now 1
lst is now [[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 0, 0, 0]]

--------------------------------------

i is now 4 and j is now 2
lst is now [[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 0, 0]]

--------------------------------------

i is now 4 and j is now 3
lst is now [[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 0]]

--------------------------------------

i is now 4 and j is now 4
lst is now [[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

--------------------------------------

In [63]:
# 더 간단하고 직관적인...
pas = [[1]* i for i in range(1, numRows+1)]
for i in range(len(pas)):
  for j in range(1, i):
    pas[i][j] = pas[i-1][j-1] + pas[i-1][j]
pas

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [86]:
def recur(n, lst):
  print(n)
  if n == 0:
    print('reached end')
    return
  else:
    recur(n-1, lst)
    print(n)
    lst.append(n)
    print(lst)

In [87]:
new = list()
recur(n=5, lst=new)

5
4
3
2
1
0
reached end
1
[1]
2
[1, 2]
3
[1, 2, 3]
4
[1, 2, 3, 4]
5
[1, 2, 3, 4, 5]

Recursive는 함수 안에다가 자기 자신을 호출, return조건을 만족시킬 때까지 쭉쭉 호출후출호출 한다.

In [94]:
new_new = []
def recursive(n):
    print(n)
    if n==0:
      print('reached end')
      return
    else:
      print("go into recursive \n")
      recursive(n-1)
      print("operate recursive \n")
      new_new.append([1]*n)
      print(f"current list is : {new_new}\n")
      for i in range(1, n-1):
          new_new[n-1][i] = new_new[n-2][i] + new_new[n-2][i-1]

In [95]:
recursive(numRows)
new_new

5
go into recursive

4
go into recursive

3
go into recursive

2
go into recursive

1
go into recursive

0
reached end
operate recursive

current list is : [[1]]

operate recursive

current list is : [[1], [1, 1]]

operate recursive

current list is : [[1], [1, 1], [1, 1, 1]]

operate recursive

current list is : [[1], [1, 1], [1, 2, 1], [1, 1, 1, 1]]

operate recursive

current list is : [[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 1, 1, 1, 1]]

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]